* {box-sizing: border-box}

  /* Set height of body and the document to 100% */
  body, html {
    background-size: cover;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 40px;
    width: 33.3%;
  }
  
  .tablink:hover {
    background-color: #000000;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    margin: 0;
    height: 100%;
  
  }
  h1{
    position: relative;
    text-align: center;
   
  }
  center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  
  }
  #background
  { 
      position: relative; 
      height: 100%; 
      width: 100%;
      background-color:#9B59B6;
      margin: 0px 0 0 0;
  
  }
  p{
    text-align: right;
    font-size: 30px;
  }
  
  
    
  
  
  
  
  
  #Home {background-color: crimson; height: 100%;}
  #Portfolio {background-color:olive; height: 100%;}
  #AboutMe {background-color: blueviolet; height: 100%;}
