* {box-sizing: border-box}

  /* Set height of body and the document to 100% */
  body, html {
    position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial;
  }
  
 
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 40px;
    width: 33.3%;
  }
  
  .tablink:hover {
    background-color: #000000;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    height: 100%;
    padding: 100px 20px;
  }
  h1{
    position: relative;
    text-align: center;
   
  }
  center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
  }
  rocketship, minion, dino, cake{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 
 
  #background
{ 
    position:absolute; 
    height: 100%; 
    width: 100%;
    background-color:#9B59B6;
    margin: 0px 0 0 0;

}
  
    
  
  
  
  
  
  #Home {background-color: crimson ;}
  #Portfolio {background-color: olive; background-size: cover; height: 100%;}
  #AboutMe {background-color: blueviolet;}
